*{
    list-style: none;
    margin: 0;
    padding: 0;

}

.header{
    background-color: #d7d7d7;
    display: flex;
    align-items: center;
}
.logo-header{
    margin-left: 4rem;
}


.Nav{
    display:flex;
    flex-grow: 1;
    justify-content: center;
    gap: 15px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
}

a:hover{
    color: rgb(235, 80, 80);
    transition: 0.2s;
    text-decoration: underline;
}

.banner{
    width: 100%;
}

.missao{
    height: 110px;
    color:#000000;
    background-color: #d7d7d7;
    padding: 30px 50px;
    
}

#title{
    text-align: center;
}
   
.descricao{
    margin: 0 auto;
}

#missaoTexto{
 font-size: 20px;
 text-align: center;
 margin-bottom: 10px;
}

#spancolor{
    color: red;
}

.containerBeneficios{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(95, 65, 51);
}

.beneficios{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    background-color: rgb(95, 65, 51);
    color: white;
}
.imgbarber{
    width: 650px;
    margin: 30px 50px;
}

.beneficiosLista{
    position: relative;
    left: 150px;
   
}

.beneficiosListaItem{
    font-size:23px;
    color: white;
}

.backgroundFooter{
    background-image:url(/assets/bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-pai{
    height: 100%;
    
}
.copy{
    color: white;
}

.footerImage{
    width: 200px;
}